<h4>Hello <%= params[:username] %></h4>


<h4>Here are the dealer's cards</h4>
  <%= session[:dealer_cards] %>
  Dealer's score is: <%= session[:dealer_total] %>

<h4>Here are your cards.</h4>
  <%= session[:player_cards] %>
  Players's score is: <%= session[:player_total] %>

<h3>Do you want to Hit or Stay?</h3>

<a class="btn btn-danger" method="get" href="/player_hit">Hit</a>
<a class="btn btn-success" method="get" href="/player_stay">Stay</a>

