<h4>Hello <%= session[:username] %></h4>
<h4>Your current bet is: $<%= session[:bet] %></h4>
<h4>Chip Count is at: $<%= session[:chip_count]%></h4>


<h4>Here are the dealer's up-card:</h4>
  <div class="alert alert-info">
  <%= card_image(session[:dealer_cards][0]) %>
  </div>

<h4>Here are your cards:</h4>
  <div class="alert alert-info">
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
    <% end %>
  </div>

  Players's score is: <%= session[:player_total] %>

  <% if session[:player_total] == 21 %>
    <% session[:chip_count] += session[:bet].to_i*3 %>
    <div class="alert alert-success">You Hit BlackJack!<br/>
    Player wins <%= session[:bet]*2 %>!<br/>
    Current chip count is: <%= session[:chip_count] %>
    </div>
    <h4>Play Again?</h4>
      <a class="btn btn-action" method="get" href="/new_bet">Yes</a>
      <a class="btn btn-info" method="get" href="/finish">No</a>
  <% elsif session[:player_total] < 21 %>
  <h3>Do you want to Hit or Stay?</h3>
    <a class="btn btn-danger" method="get" href="/player_hit">Hit</a>
    <a class="btn btn-success" method="get" href="/player_stay">Stay</a>
  <% elsif session[:player_total] > 21 %>
    <div class="alert alert-error">You busted!</div>
    <h4>Play Again?</h4>
      <a class="btn btn-action" method="get" href="/new_bet">Yes</a>
      <a class="btn btn-info" method="get" href="/finish">No</a>
  <% end  %>

