<h3>Jones Casino BlackJack!</h3>
  <div class="well alert alert-info">
    <h4><%= session[:player]%>'s Betting Info || Current Bet:  $<%= session[:bet] %> || Pot: $<%= session[:pot] %></h4>
  </div>
<% if @outcome_win %>
  <div class="alert alert-success">
    <%= @outcome_win %>
  </div>
<% end %>
<% if @outcome_lose %>
  <div class="alert alert-error">
    <%= @outcome_lose %>
  </div>
<% end %>
<div class="well hunter-green">
  <h3 class="white">Dealer's Cards</h3>
  <% if @dealer_turn %>
  <form action="/dealer_hit" method="post">
    <input type="submit" class="btn btn-error" value="Dealer's Next Card"/>
  </form>
  <% session[:dealer_cards].each do |x| %>
      <%= card_image(x) %>
      <% end %>
  <% else %>
    <img src="/images/cards/cover.jpg" />
    <%= card_image(session[:dealer_cards][1]) %>
  <% end %>
  <h3 class="white"><%= session[:player]%>'s Cards</h3>
    <% session[:player_cards].each do |x| %>
      <%= card_image(x) %>
      <% end %>
  <h5 class="white"><%= session[:player]%>'s Score: <%= session[:player_score] %></h5>
</div>

  <form action="/player_hit" method="post">
    <input type="submit" value="Hit" class="btn btn-info floater_left">
  </form>
  <form action="/player_stay" method="post">
    <input type="submit" value="Stay" class="btn btn-success floater_left"/>
  </form>


