<h4>Hello <%= session[:username] %></h4>
<h4>Your current bet is: $<%= session[:bet] %></h4>


<h4>Here are the dealer's cards:</h4>
  <div class="alert alert-info">
  <% session[:dealer_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
  </div>
  Dealer's score is: <%= session[:dealer_total] %>


 <h4>Dealer Hits on 16. Stays on 17.</h4>

<h4>Here are your cards:</h4>
  <div class="alert alert-info">
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
  </div>
  Players's score is: <%= session[:player_total] %>

<h3>You Chose to Stay with: <%= session[:player_total] %>
<br/>
<a class="btn btn-danger" method="get" href="/dealer_turn">See Who Wins</a>